<div class="container">

<div class="flex1">
    <div class="card text-dark bg-light  mb-3" style="max-width: 18rem;">
        <div class="card-header">DocumentName:{{document.doc}}</div>
        <div class="card-body">
            <h5 class="card-title">Description : {{document.description}}</h5>
            <p class="card-text">Date : {{document.date}}</p>
            <p class="card-text"> fullName: {{document.fullName}}</p>
        </div>
    </div>
    <img src="assets/images/font.jpg" alt="">
</div>
</div>
